/* DEFAULTS */
* {
    margin: 0;
    padding: 0;
}

/* COLORS */
:root {
    --color-1: #addfff;
    --color-2: #eaffff;
    --color-3: #001d36;
    --color-4: #74777c;
    --color-5: #e2e2e2;
}

section {
    background-color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#resume {
    background-color: var(--color-2);
}
#contact {
    background-color: var(--color-1);
}

/* NAVBAR */
.nav-logo {
    width: 100px;
}
.nav-link {
    font-size: 1.3rem;
    /* color: var(--color-3); */
}
.menu-bg {
    background-color: var(--color-2) !important;
}

.navbar-custom {
    position: absolute;
}

/* HERO-BANNER */
.home-banner {
    background: linear-gradient(rgba(173, 223, 255, 0.2), rgba(173, 223, 255, 0.2)), url('/images/asl-0.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.home-content {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.home-title {
    font-family: 'Dancing Script', cursive;
    font-size: 8rem;
    color: var(--color-3);
}

.col-right {
    background-color: #001d36;
    height: 80vh;
}
.col-left {
    background-image: url(images/asl-0-cropped.jpg);
    background-size: cover;
    height: 80vh;
}


.about-hd {
    font-size: 2.75rem;
}
.about-text {
    font-size: 1.2rem;
}

.footer {
    background-color: var(--color-3);
}
.footer-text {
    font-size: 1.2rem;
    color: var(--color-2);
}

/* MEDIA QUERIES */

/* XXL */
@media screen and (max-width:1400px) {
    
}

/* XL */
@media screen and (max-width:1200px) {
    
}

/* LG */
@media screen and (max-width:992px) {
    
}

/* MD */
@media screen and (max-width:768px) {
    
}

/* SM */
@media screen and (max-width:576px) {
    
}

@media screen and (max-width: 425px) {
    .offcanvas {
        --bs-offcanvas-width: 300px !important;
    }
}

@media screen and (max-width: 677px) {
    .home-title {
        font-size: 5rem;
    }
}
@media screen and (max-width: 576px) {
    .footer-text {
        font-size: 1rem;
    }
}